@charset "utf-8";

/* common */

*{
    box-sizing: border-box;
  }

html {
    font-size: 100%;
    font-family:'Roboto','Hiragino Sans','Meiryo','Hiragino Kaku Gothic ProN',sans-serif;
}
body {
    color: #24292e;
}
a {
    text-decoration: none;
    color: #24292e;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* header */
header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6% auto 0;
    padding: 0 4%;
}
header ul {
    display: flex;
    padding: 16px 0;
  }
header li {
    font-size: 0.9rem;
    margin-left: 30px;
  }
header li a {
    color: #24292e;
  }
header li a:hover {
    opacity: 0.7;
  }

.site-logo {
    line-height: 1px;
    padding-bottom: 5px;
}

.site-logo a:hover {
    opacity: 0.8;
}

.icon {
  color:rgb(93, 186, 202);
  font-size: 1.4rem;
}

/*  top-image */
#top-image {
    margin-bottom: 80px;
}

#top-image img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}

/*  section */
.wrapper {
    max-width: 960px;
    margin: 0 auto 120px;
    font-size: 0.9rem;
    padding: 0 4%;
}
.sec-title {
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 65px;

}

/*  gallery */
#gallery ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
#gallery li {
    width: 30%;
    margin-bottom: 23px;
  }
#gallery p {
    font-size: 1rem;
    text-align: center;
  }

/*  news */
#news dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  line-height: 2rem;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
  font-weight: 600;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

/* contact */
#contact h2{
  margin-top: 80px;
}

#contact dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 12rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: rgb(93, 186, 202);
  color: #fff;
  padding: 15px 0;
  border: solid 1px rgb(93, 186, 202);
  border-radius: 5px;
}
#contact .button input:hover {
  opacity: 0.8;
}

section #contact {
  margin-bottom: 120px;
}


/* access */
#access ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
#access li:first-child {
  width: 60%;
}

#access li { 
  width: 40%;
}

#access dt { 
  font-weight: 800;
  margin-top: 10px;
}

/*  footer */
footer {
    display:flex;
    justify-content:center;
    background-color: #24292e;
    width: 100%;
    height:80px;
    padding-top:1rem;
    color: #fff;
    font-size: 0.8rem;
}

/*  sp */
@media screen and (max-width: 600px){
  .site-logo{
    margin-bottom: 8px;
  }
  .wrapper {
    margin-bottom: 70px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  header li:first-child {
    margin-left: 0;
  }

  #gallery ul {
    flex-direction: column;
  }
  #gallery li {
    width: 100%;
  }

  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;

  }
  #news dd {
    width: 100%;
    padding-top: 0;
  }

  #access ul {
    flex-direction: column;
  }

  #access li:first-child {
    width: 100%;
  }

  #access li {
    width: 100%;
  }

} 
